{layout 'App.layout.html'}

{block content}
<img src="assets/imgs/home.jpg" alt="Gonzo Blog">
<div class="container-sm mt-3">
    <h1>Your Homepage</h1>
    <p>This is your static homepage. See the description below to find and replace or modify its resources.</p>
    <ul>
        <li>Location of this Controller: <code>'controllers/IndexController'</code></li>
        <li>Location of this Template: <code>'templates/Index.partial.html'</code></li>
        <li>Location of the Image: <code>'public/assets/imgs/home.jpg'</code></li>
    </ul>
    <p>Note, that the IndexController inherits from the 'AppController'.</p>
    <ul>
        <li>Location of the App controller: <code>'controllers/AppController'</code></li>
        <li>Location of the App template: <code>'templates/App.layout.html'</code></li>
    </ul>
    <p>You can also extend or modify the Menu.</p>
    <ul>
        <li>Location of the Menu config: <code>'menu.json'</code></li>
    </ul>
</div>
{/block}